.default_color{background-color: #CC0000 !important}

.default_color_text{color: #CC0000 !important}

.icon-block {
    padding: 0 15px;
}

.header-container {
    padding: 0 40px;
}

#demo, #how, #work, #team {
    padding-top: 4rem;
}

#goodies {
    background: #CC0000;
    color: white;
    padding: 2rem 0;
}

#goodies a {
    color: white;
}

#goodies i {
    font-size: 4rem;
}


#index-banner {
    position: relative;
    background-color: #CC0000;
    padding-top: 0;
    margin-top: -22px;
}

#nav_f{
    box-shadow: none !important; 
    -webkit-box-shadow:none !important;
    background: #b00101 !important;
}

.text_h {
    padding-top: 60px;
    padding-bottom: 90px;
    font-size: 2.0em;
    font-weight: 100;
    color:white;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
    margin-top: 2px;
}

#demo .btn-large {
    margin-top: 10px;
}

#contact i {
    margin-right: 10px;
}

.btn-icon {
    margin-right: 15px;
    vertical-align: middle;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.text_h3 {font-weight: 100;}

.text_h5 {font-weight: 300;}

.span_h5 {color: #CC0000;}

.span_h2 {font-weight: 300;color: #CC0000;}

.text_b{color: #CC0000;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #CC0000;
    font-size: 4rem;
    display: block;
}
.card-content a {color: #CC0000;}

.card-content a:hover {color: #CC0000;}

#how, #team{background: rgb(240, 240, 240);}

.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

nav ul li {
  height: auto;
}

.side-nav li {
  height: auto;
}

.mdi-navigation-menu {
  color: rgba(0,0,0,0.5);
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: rgba(255,255,255,0.2);
    padding-left: 5px;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #CC0000;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (min-width : 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 80px;
    line-height: 80px;
  }
  .navbar-fixed {
    height: 80px;
  }
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 19% 0;
        font-size: 3em;
        font-weight: 100;
        color: white;
    }
    #index-banner {
        min-height: 515px;
        max-height: 515px;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -30px;
}

.side-nav a {
    font-size: 1.3rem;
    font-weight: 400;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
}